@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);


*{
    font-family: 'Montserrat';
}

body{
    margin: 0 auto;
}
/* ***********************Tête de page*/

header.header {
    display: flex;
    align-items: center;
}

header.header img{
width: 100px;
}

section.top-page {
    background: url("../Images/chambres_modéliser.jpg   ");
    height: 80vh;
    padding: 25px;
}

/* ***************************Page de bienvenu*/
.landing-page{
    padding: 20px 50px;
}
.big-title{
    color: white;
    font-size: 80px;
    font-family: 'Abril FatFace',cursive;
    font-weight: 100;
}

.scroll-down {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 200px;
}

/* menu de navigation*/

nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 50px;

}

nav.nav li{
    color: white;
}

li.li {
    font-size: 20px;
}
/*profil   ****************/
p.p {
    width: 300px;
    font-size: 20px;
    color: white;
    padding: 20px;
}
.grise {
    background-color: rgb(46, 45, 45);
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
/* service */

.services {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.service-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.delivery-icon {
    font-size: 50px;
    color: blueviolet;
}

.service-details {
    font-weight: 600;
    width: 200px;
    text-align: center;
}

/* best sells*/

.section-title {
    font-size: 50px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
    position: relative;
}

.section-title::before{
    content: "";
    position: absolute;
    background-color: blueviolet;
    width: 50px;
    height: 7px;
    bottom: 0;
}

.bests-items {
    margin: 100px;
}
.best-projets {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.projet-box {
    position: relative;
    background-size: cover;
    background-position: center;
    min-width: 350px;
    height: 500px;
    flex: 1;
}

.projet1 {
    background-image: url(../Images/coffre.jpg);
}

.projet2 {
    background-image: url(../Images/PokeBall.png);
}

.projet3 {
    background-image: url(../Images/SabreLuc.png);
}

.projet4 {
    background-image: url(../Images/Bar.PNG);
}

.projet-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFFDF;
    padding: 5px 20px;
}

.projet-name {
    font-size: 22px;
    font-weight: 600;
    line-height: 3px;
}

.projet-price {
    color: blueviolet;
    font-weight: 800;
    font-size: 14px;
    line-height: 3px;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
}

footer a.cgv {
    text-decoration: none;
    color: black;
}